<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28470823815-aeit8fu6t5k90gbds00i311093dro8ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28470823815-aeit8fu6t5k90gbds00i311093dro8ou</string>
	<key>API_KEY</key>
	<string>AIzaSyD3jrSAvLZhXd-InfGYA6ZCdVl42nnPWsU</string>
	<key>GCM_SENDER_ID</key>
	<string>28470823815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezanatesfaye.Chaty</string>
	<key>PROJECT_ID</key>
	<string>chaty-a3a9c</string>
	<key>STORAGE_BUCKET</key>
	<string>chaty-a3a9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28470823815:ios:b0299d6149a49290be6122</string>
</dict>
</plist>